#main_subpage {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(2, auto);
	border-top: 1px solid #CCC;
	overflow: hidden;
	color: #3f3f3f;
	display: flex;
	padding: 5px;
}

.lewa_kolumna{
	border: 1px solid #CCC;
	background-color: #e7e7e7;
	grid-row: 2;
	grid-column: 1;
	max-width: 250px;
	width:25%;
	padding: 5px;
	margin: 1px 1px;
}

.prawa_kolumna{
	grid-row: 1;
	grid-column: 2;
	width:75%;
	padding: 5px;
	margin: 1px 1px;
}

.przepis{
	border: 1px solid #CCC;
	max-width: 297mm;
	max-height: 210mm;;
}